.layout {
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;

  @media screen and (max-width: 48em) {
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
