.button {
  background: none;
  border: none;
  box-shadow: var(--shadow-sm);

  &:focus:not(:active) {
    outline: none;
  }

  & svg {
    transition: all 0.3s;
  }
}

/* size */
.small {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  text-align: center;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);

  & svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.medium {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius-md);

  & svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.large {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius-lg);

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

/* type */
.primary {
  color: var(--color-brand-50);
  background-color: var(--color-brand-600);

  &:hover {
    background-color: var(--color-brand-700);
  }
}

.secondary {
  color: var(--color-indigo-700);
  border: 1px solid var(--color-grey-200);

  &:hover {
    background-color: var(--color-grey-200);
  }
}

.danger {
  color: var(--color-red-100);
  background-color: var(--color-red-700);

  &:hover {
    background-color: var(--color-red-800);
  }
}
