.inputContainer {
  width: 65%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 0.8rem;

  @media screen and (max-width: 40em) {
    width: 100%;
  }
}

.input {
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: var(--border-radius-md);
  padding: 0.8rem 1.2rem;
  box-shadow: var(--shadow-sm);
}
