.list__item {
  padding: 0.6rem;

  /* display: flex;
  align-items: center;
  gap: 0.6rem; */

  display: grid;
  grid-template-columns: 2fr 3.2fr 2fr 1fr;
  column-gap: 2.4rem;
  align-items: center;
  transition: none;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-200);
  }

  &:hover {
    background-color: var(--color-grey-100);
  }
}

.list__item-checkbox {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: var(--border-radius-sm);
  margin-right: 2rem;

  &:focus {
    outline: none;
  }
}

.list__item-checkbox--completed {
  /* background-color: var(--color-brand-600); */

  & svg {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--color-brand-600);
  }
}

.list__item-content {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

.list__item-input {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: var(--border-radius-sm);
  padding: 0.4rem 0.8rem;
  box-shadow: var(--shadow-sm);
}

.list__item-text {
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
}

.list__item-text--completed {
  color: var(--color-grey-400);
  text-decoration: line-through;
}

.category {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: min-content;

  padding: 0.2rem 0.8rem;
  border-radius: var(--border-radius-lg);
}

.category--personal {
  background-color: var(--color-silver-100);
}

.category--work {
  background-color: var(--color-blue-100);
}

.category--study {
  background-color: var(--color-indigo-100);
}

.category--health {
  background-color: var(--color-green-100);
}

.category--finance {
  background-color: var(--color-yellow-100);
}

.category--social {
  background-color: var(--color-orange-100);
}

.category--shopping {
  background-color: var(--color-grey-200);
}
