.list__item {
  padding: 0.6rem;

  display: flex;
  align-items: center;
  gap: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-200);
  }
}

.list__item-checkbox {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: var(--border-radius-sm);
}

.list__item-checkbox--completed {
  /* background-color: var(--color-brand-600); */

  & svg {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--color-brand-600);
  }
}

.list__item-text {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: auto;
}

.list__item-text--completed {
  color: var(--color-grey-400);
  text-decoration: line-through;
}
