.list-wrap {
  position: relative;
  width: 100%;
  margin: 1rem auto 0;

  border: 1px solid var(--color-grey-200);

  font-size: 1.4rem;
  background-color: var(--color-grey-0);
  overflow: hidden;
  border-radius: 7px;
}

.list-header {
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-50);
  border-bottom: 1px solid var(--color-grey-100);
  text-transform: uppercase;
  letter-spacing: 0.4px;

  display: grid;
  grid-template-columns: 1fr 3.2fr 1.6fr 2fr 1fr;
  column-gap: 2.4rem;
  align-items: center;
  transition: all 0.3s;

  @media screen and (max-width: 48em) {
    padding: 1.2rem 2rem;
    grid-template-columns: 1fr 3.2fr 1.6fr 2.4fr 1.2fr;
  }

  @media screen and (max-width: 40em) {
    grid-template-columns: 1fr 3.2fr 1.2fr;
    justify-items: center;
  }
}

.list {
  height: 40rem;

  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-md);

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-grey-0);
}

.list::-webkit-scrollbar-track {
  border-radius: var(--border-radius-sm);
  margin-block: 5px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--color-indigo-700);
  border-radius: var(--border-radius-sm);
}

.cover-bar {
  position: absolute;
  background-color: var(--color-grey-0);

  height: 100%;
  top: 0;
  right: 0;
  width: 5px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.list-wrap:hover .cover-bar {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.list__empty {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: auto 0;
}

.isTablet {
  display: block;

  @media screen and (max-width: 40em) {
    display: none;
  }
}
