.sidebar {
  background-color: var(--color-grey-0);
  padding: 3.2rem 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @media screen and (max-width: 48em) {
    grid-column: 1/-1;
    padding: 2.4rem 1.8rem;
  }

  @media screen and (max-width: 32em) {
    padding: 1.8rem 1.2rem;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media screen and (max-width: 48em) {
    flex-direction: row;
    justify-content: center;
  }
}

.navLink:link,
.navLink:visited {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  color: var(--color-grey-600);
  border-radius: var(--border-radius-sm);

  display: flex;
  align-items: center;
  gap: 1.2rem;

  transition: all 0.3s;
}

.navLink:hover,
.navLink:active,
.navLink:global(.active:link),
.navLink:global(.active:visited) {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
}

.navLink svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.navLink:hover svg,
.navLink:active svg,
.navLink:global(.active) svg,
.navLink:global(.active) svg {
  color: var(--color-brand-600);
}
