.status {
  width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
