.status {
  width: 100%;

  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
}

.detail {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: auto;
}
